@charset "UTF-8";
@import url(../../bower_components/bootstrap/dist/css/bootstrap.css);
@font-face {
  font-family: "Futura";
  src: url("../fonts/16023_FUTURAN.eot");
  src: local("☺"), url("../fonts/16023_FUTURAN.woff") format("woff"), url("../fonts/16023_FUTURAN.ttf") format("truetype"), url("../fonts/16023_FUTURAN.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
body {
  font: 12pt/normal Futura !important;
  margin: 0;
  padding: 0; }

input, button, textarea {
  font: inherit !important;
  font-size: 80% !important; }

h3 > span.label {
  font-size: 60%;
  vertical-align: middle; }

.btn-lg {
  border-radius: 4px !important; }

.profile {
  width: 600px;
  text-align: center; }
  .profile .form-group {
    margin: 0;
    padding: 5px;
    border-top: 1px solid #ddd; }
    .profile .form-group:nth-of-type(odd) {
      background-color: #f9f9f9; }
    .profile .form-group label {
      text-align: left !important; }
      .profile .form-group label:not(.btn) {
        width: 95%; }
      .profile .form-group label input[type="text"] {
        margin-top: 5px; }

table td, table th {
  vertical-align: middle !important; }

.header {
  border-bottom: thick solid #e1e0de;
  margin-bottom: 30px;
  padding: 15px 0; }
  .header h2 {
    display: inline-block; }
  .header nav {
    display: inline-block;
    vertical-align: bottom; }
    .header nav ul li {
      display: inline-block; }

.table-head {
  position: relative; }
  .table-head i.clean {
    position: absolute;
    top: 9px;
    right: 12px;
    cursor: pointer;
    font-style: normal; }

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); }
  .modal-wrapper .modal-window {
    background-color: #fff;
    width: 300px;
    height: 200px;
    position: absolute;
    top: 10%;
    left: 50%;
    margin-left: -150px; }
    .modal-wrapper .modal-window .modal-window__header {
      height: 40px;
      border-bottom: thin solid #e1e0de;
      position: relative; }
      .modal-wrapper .modal-window .modal-window__header .close-window {
        font-style: normal;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer; }
    .modal-wrapper .modal-window .modal-window__body {
      padding: 10px;
      text-align: center; }
    .modal-wrapper .modal-window .modal-window__footer {
      border-top: thin solid #e1e0de;
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 10px;
      text-align: center; }

.person .nav {
  margin-bottom: 15px; }

.promo-cell input[type='text'] {
  width: 90%;
  display: inline-block; }
.promo-cell i {
  cursor: pointer; }

.footer {
  border-top: thick solid #e1e0de;
  padding: 10px; }

/*# sourceMappingURL=style.css.map */
