<h1>New person</h1>

<tabs>
    <form ng-submit="PVm.postData()" enctype="multipart/form-data">
        <tab title="private"></tab>
        <tab title="family"></tab>
        <tab title="work"></tab>
        <tab title="education"></tab>
    </form>
</tabs>