<div ng-show="selected">
    <h1>{{title | firstLetter}}</h1>

    <table class="table table-striped table-condensed">
        <tr>
            <td>Specialty</td>
            <td>
                <input type="text" class="form-control input-sm">
            </td>
        </tr>
    </table>

    <button type="submit" class="btn btn-success btn-lg">
        <i class="fa fa-save"></i> Save
    </button>

</div>