<div ng-show="selected">
    <h1>{{title | firstLetter}}</h1>

    <table class="table table-striped table-condensed">
        <tr>
            <td>Current position</td>
            <td>
                <input type="text" class="form-control input-sm">
            </td>
        </tr>
    </table>

</div>